<div class="entity-container">
  <div class="region region-header">
    {% include '@cdi_content_handler/header.html.twig' %}
  </div>

  <div class="region region-content">
    {% include '@cdi_content_handler/body.html.twig' %}
  </div>

  <div class="region region-footer">
    {% include '@cdi_content_handler/footer.html.twig' %}
  </div>
</div>