<div class="container">
  <div id="navigation-container">
    <form action="/faceted-search">
      <input id="header-search-input" name="search_term" placeholder="{{ 'Enter a Search Term'|t }}"><span id="header-search-button" class="glyphicon glyphicon-search">&nbsp;</span>
    </form>
  </div>
</div>
