<form class="search-form" action="/faceted-search/" method="GET">
	<label class="sr-only" for="search-term-{{ id }}">Search Term</label>
	<input required class="search-field" id="search-term-{{ id }}" name="search_term" placeholder="Enter a search term" type="text">
	<button class="search-submit"></button>
</form>