<div id="block-nasa-cdi-views-block-mission-statement-block-1" class="block clearfix mission-statement">
	<div class="content">
		{{ content['body'][0] }}
		<a class="btn btn-outline btn-icon btn-start" href="{{ content['field_link'][0]['#url'] }}">{{ content['field_link'][0]['#title'] }}</a>
	</div>
</div>